<h2>Edit <%= resource_name %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <% if @user.image? %>
      <%= image_tag @user.image.url,class: "icon_image" %>
   <% else %>
      <img src="/assets/default.png" class = "icon_image">
   <% end %>
      <button type="button" class="btn btn-outline-secondary rounded-pill">
         <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png' %>
      </button>

  <div class="field">
    <%= f.label :ニックネーム %> <br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :都道府県 %> <br />
    <%= f.select :prefectures ,[["未設定","未設定"],["北海道", "北海道"], ["青森", "青森"],["岩手","岩手"],["宮城","宮城"],["秋田","秋田"]] %>
  </div>

  <div class="field">
    <%= f.label :職業 %> <br />
    <%= f.select :occupation, [["未設定","未設定"],["高校1年生", "高校1年生"], ["高校2年生", "高校2年生"],["高校3年生","高校3年生"],["浪人生","浪人生"],["中学生","中学生"]] %>
  </div>

  <div class="field">
    <%= f.label :目標大学 %> <br />
    <%= f.select :target_school , [["未設定","未設定"],["北海道大学", "北海道大学"], ["東北大学", "東北大学"],["東京大学","東京大学"],["名古屋大学","名古屋大学"],["京都大学","京都大学"]] %>
  </div>

  <div class="field">
    <%= f.label :自己紹介 %> <br />
    <%= f.text_area :comment %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<% if @user.id ==  current_user.id %>
<p> <%= button_to "ユーザー削除", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
<% end %>
<%= link_to "Back", :back %>
