<h1>ユーザーID：<%= @user.id %>,<%= @user.name %>の詳細ページ</h1>
<% if user_signed_in? %>
  <%= render "relationships/follow_button", user: @user %>
<% end %>
<%= @following_users.count %>フォロー,<%= @follower_users.count %>フォロワー
<div class="tab-area">
  <div class="tab active">
    ユーザー情報
  </div>
  <div class="tab">
    フォロー覧
  </div>
  <div class="tab">
    フォロワー一覧
  </div>
  <div class="tab">
    レポート
  </div>
  <div class="tab">
    タイムライン
  </div>
</div>
<div class="content-area">
  <div class="content show">
   <%= render "users/detail" %>
  </div>
  <div class="content">
      <% if @following_users %>
        <% @following_users.each do |following_user| %>
        <%= link_to "#{following_user.name}", user_path %>
        <% end%>
      <% end%>
  </div>
  <div class="content">
    <% if @follower_users %>
      <% @follower_users.each do |follower_user| %>
      <%= link_to "#{follower_user.name}", user_path %>
      <% end%>
    <% end%>
  </div>
  <div class="content">
    <%= render "users/report" %>
  </div>
  <div class="content">
    <%= render "users/timepost" %>
  </div>
</div>

<script>
$(function() {
  let tabs = $(".tab"); // tabのクラスを全て取得し、変数tabsに配列で定義
  $(".tab").on("click", function() { // tabをクリックしたらイベント発火
    $(".active").removeClass("active"); // activeクラスを消す
    $(this).addClass("active"); // クリックした箇所にactiveクラスを追加
    const index = tabs.index(this); // クリックした箇所がタブの何番目か判定し、定数indexとして定義
    $(".content").removeClass("show").eq(index).addClass("show"); // showクラスを消して、contentクラスのindex番目にshowクラスを追加
  })
})
</script>